body {margin: 0;}
#container {width: 100%;max-width: 80ch;margin: 0 auto; padding: 0 4ch;}
#changelog summary {font-weight: bold;}
#blog-list > div:hover {background-color: antiquewhite;}
#blog-list time {color: gray;}